<h2>Products</h2>

<div *ngFor="let product of products">
    <h3>
        <!-- this is a link to the product details page -->
        <!-- the [title] attribute set the product name as the title of the link -->
        <!-- the [routerLink] attribute is a directive that will add in this case the product ID to the URL -->
        <!-- (e.g: http://localhost:4200/products/1) -->
        <a
          [title]="product.name + ' details'"
          [routerLink]="['/products', product.id]">
          {{ product.name }}
      </a>
    </h3>

    <!-- this is the product's description -->
    <!-- *ngIf is a directive that will process the data only if the condition (in this case, having a description) is true -->
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>

    <!-- here is a button that will trigger the share() method in the component (located in product-list.component.ts) -->
    <button type="button" (click)="share()">
      Share
    </button>

    <!-- this will display the "Notify Me" button if the product's price is over $700 (see "product-alerts" folder) -->
    <!-- Clicking on the "Notify Me" button will trigger the onNotify() method (see product-list.component.ts) -->
    <app-product-alerts
      [product]="product" 
      (notify)="onNotify()">
    </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->